.LcdDisplay {
  margin-top: -7px;
  margin-left: -7px;

  width: fit-content;
  height: fit-content;

  border-top: 18px solid;
  border-right: 25px solid;
  border-bottom: 25px solid;
  border-left: 18px solid;
  border-image: url('images/lcd-display.png') 18 25 25 18 fill;
}

.Content {
  display: grid;
  gap: 4px;
  grid-template-columns: min-content;

  padding: 8px 16px 8px 16px;
}
