.TopBar {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: min-content auto min-content;

  padding: 1rem;

  background-color: black;
}

.Title {
  margin: 0;

  color: white;

  white-space: nowrap;

  font-size: 1.5rem;
  font-weight: bold;
  font-family: Roboto;
}
